.cv {
  width: 100%;
  height: 100%;
  padding: 48px;
  gap: 32px;

  &__right-column {
  }

  &__left-column {
    flex: 0 0 25%;
  }
}

.title {
  height: 100px;
}

@media print {
  .cv {
    padding: 0;
  }
}
